*.spl
.luarc.json
files/.config/kitty/font.conf
files/.config/nvim/colors.lua
files/.config/nvim/lazy-lock.json
files/.config/nvim/plugin/packer_compiled.lua
files/.vim/.netrwhist
files/.vim/colors.vim
files/.vim/pack
files/.vim/plugged
