snippet #! "shbang"
#!/usr/bin/env fish
endsnippet

snippet def "function definition" b
function ${1:name}${3: -a ${2:args}}${5: -d "${4:desc}"}
	${0:${VISUAL}}
end
endsnippet

snippet if "if-else clause" b
if ${1:cond}
	$2
else
	$3
end

$0
endsnippet

snippet switch "switch clause" b
switch ${1:clause}
	$2
case ${3:clause}
	$3
case '*'
	$4
end

$0
endsnippet

snippet for "for clause" b
for ${1:thing} in ${2:things}
	$0
end
endsnippet
