snippet cshead "CS 116 file header"
# ******************************
# Name: Arumoy Shome (20460621)
# CS 116 Spring 2017
# Assignment ${1:num}, Problem ${2:num}
# ******************************
endsnippet

snippet csrecipe "CS 116 method recipe"
# ${1:purpose}
# ${2:Effects: ${3:effects}}
# ${4:function name}: ${5:params} -> ${6:return}
# ${7:Examples:
# ${8: examples}}
endsnippet
